In [2]:
import pandas as pd

In [18]:
df = pd.read_csv('yellow_tripdata_2021-01.csv',nrows=100)

In [19]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [20]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [24]:
from sqlalchemy import create_engine

In [29]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [33]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [36]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=10000)

In [37]:
df = next(df_iter)

In [38]:
len(df)

10000

In [39]:
df['tpep_pickup_datetime'] = pd.to_datetime(df.tpep_pickup_datetime)
df['tpep_dropoff_datetime'] = pd.to_datetime(df.tpep_dropoff_datetime)

In [43]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [44]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 766 ms
Wall time: 1.44 s

1000

In [46]:
from time import time

In [48]:
while True:
    t_start = time()
    df = next(df_iter)
    df['tpep_pickup_datetime'] = pd.to_datetime(df.tpep_pickup_datetime)
    df['tpep_dropoff_datetime'] = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql('yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print(f'inserted another chunk ...., took {t_end - t_start} seconds')

inserted another chunk ...., took 1.240328073501587 seconds
inserted another chunk ...., took 1.868302822113037 seconds
inserted another chunk ...., took 1.2908170223236084 seconds
inserted another chunk ...., took 1.3772010803222656 seconds
inserted another chunk ...., took 1.3431153297424316 seconds
inserted another chunk ...., took 1.3908541202545166 seconds
inserted another chunk ...., took 1.6257257461547852 seconds
inserted another chunk ...., took 1.9835779666900635 seconds
inserted another chunk ...., took 1.3229193687438965 seconds
inserted another chunk ...., took 1.3165621757507324 seconds
inserted another chunk ...., took 1.2881543636322021 seconds
inserted another chunk ...., took 1.364922285079956 seconds
inserted another chunk ...., took 1.1562397480010986 seconds
inserted another chunk ...., took 1.625227451324463 seconds
inserted another chunk ...., took 1.5328593254089355 seconds
inserted another chunk ...., took 1.48429536819458 seconds
inserted another chunk ...., took 1.3471369743347168 seconds
inserted another chunk ...., took 1.6267120838165283 seconds
inserted another chunk ...., took 1.5654127597808838 seconds
inserted another chunk ...., took 1.3821086883544922 seconds
inserted another chunk ...., took 1.5229225158691406 seconds
inserted another chunk ...., took 1.4327037334442139 seconds
inserted another chunk ...., took 1.4502625465393066 seconds
inserted another chunk ...., took 1.2870571613311768 seconds
inserted another chunk ...., took 1.3824429512023926 seconds
inserted another chunk ...., took 1.5808329582214355 seconds
inserted another chunk ...., took 1.3242788314819336 seconds
inserted another chunk ...., took 1.6503596305847168 seconds
inserted another chunk ...., took 1.5055482387542725 seconds
inserted another chunk ...., took 1.3842322826385498 seconds
inserted another chunk ...., took 1.3335065841674805 seconds
inserted another chunk ...., took 1.4034185409545898 seconds
inserted another chunk ...., took 1.5099883079528809 seconds
inserted another chunk ...., took 1.464064359664917 seconds
inserted another chunk ...., took 1.290564775466919 seconds
inserted another chunk ...., took 1.3002893924713135 seconds
inserted another chunk ...., took 1.2271816730499268 seconds
inserted another chunk ...., took 1.3004789352416992 seconds
inserted another chunk ...., took 1.5583603382110596 seconds
inserted another chunk ...., took 1.4273829460144043 seconds
inserted another chunk ...., took 1.3687305450439453 seconds
inserted another chunk ...., took 1.4026472568511963 seconds
inserted another chunk ...., took 1.4127027988433838 seconds
inserted another chunk ...., took 1.3748788833618164 seconds
inserted another chunk ...., took 1.508812665939331 seconds
inserted another chunk ...., took 1.6122910976409912 seconds
inserted another chunk ...., took 1.2972662448883057 seconds
inserted another chunk ...., took 1.171079158782959 seconds
inserted another chunk ...., took 1.2534434795379639 seconds
inserted another chunk ...., took 1.4422597885131836 seconds
inserted another chunk ...., took 1.809330701828003 seconds
inserted another chunk ...., took 1.290064811706543 seconds
inserted another chunk ...., took 1.486459493637085 seconds
inserted another chunk ...., took 1.3613245487213135 seconds
inserted another chunk ...., took 1.5633177757263184 seconds
inserted another chunk ...., took 1.3914973735809326 seconds
inserted another chunk ...., took 1.8643193244934082 seconds
inserted another chunk ...., took 1.378922700881958 seconds
inserted another chunk ...., took 1.362548589706421 seconds
inserted another chunk ...., took 1.4017548561096191 seconds
inserted another chunk ...., took 1.4318275451660156 seconds
inserted another chunk ...., took 1.406498670578003 seconds
inserted another chunk ...., took 1.6812951564788818 seconds
inserted another chunk ...., took 1.448578119277954 seconds
inserted another chunk ...., took 1.267585039138794 seconds
inserted another chunk ...., took 1.4471490383148193 seconds
inserted another chunk ...., took 1.3472118377685547 seconds
inserted another chunk ...., took 1.297936201095581 seconds
inserted another chunk ...., took 1.8255970478057861 seconds
inserted another chunk ...., took 1.336738109588623 seconds
inserted another chunk ...., took 1.3626816272735596 seconds
inserted another chunk ...., took 1.3446736335754395 seconds
inserted another chunk ...., took 1.4625580310821533 seconds
inserted another chunk ...., took 1.7573180198669434 seconds
inserted another chunk ...., took 1.8306477069854736 seconds
inserted another chunk ...., took 1.6360762119293213 seconds
inserted another chunk ...., took 1.6577744483947754 seconds
inserted another chunk ...., took 1.5863139629364014 seconds
inserted another chunk ...., took 1.9777140617370605 seconds
inserted another chunk ...., took 2.5423386096954346 seconds
inserted another chunk ...., took 3.119547128677368 seconds
inserted another chunk ...., took 1.612830400466919 seconds
inserted another chunk ...., took 1.528019905090332 seconds
inserted another chunk ...., took 1.8580505847930908 seconds
inserted another chunk ...., took 1.5360562801361084 seconds
inserted another chunk ...., took 1.705000877380371 seconds
inserted another chunk ...., took 1.837001085281372 seconds
inserted another chunk ...., took 1.4638502597808838 seconds
inserted another chunk ...., took 1.4846668243408203 seconds
inserted another chunk ...., took 1.720602035522461 seconds
inserted another chunk ...., took 1.4394075870513916 seconds
inserted another chunk ...., took 1.4761366844177246 seconds
inserted another chunk ...., took 1.8934926986694336 seconds
inserted another chunk ...., took 1.5196661949157715 seconds
inserted another chunk ...., took 1.3763246536254883 seconds
inserted another chunk ...., took 1.9207792282104492 seconds
inserted another chunk ...., took 2.1447315216064453 seconds
inserted another chunk ...., took 1.7705514430999756 seconds
inserted another chunk ...., took 1.85904860496521 seconds
inserted another chunk ...., took 1.5188863277435303 seconds
inserted another chunk ...., took 1.838202953338623 seconds
inserted another chunk ...., took 1.502027988433838 seconds
inserted another chunk ...., took 1.4105889797210693 seconds
inserted another chunk ...., took 1.5983664989471436 seconds
inserted another chunk ...., took 1.2846899032592773 seconds
inserted another chunk ...., took 1.4461669921875 seconds
inserted another chunk ...., took 1.298152208328247 seconds
inserted another chunk ...., took 1.3159074783325195 seconds
inserted another chunk ...., took 1.5119786262512207 seconds
inserted another chunk ...., took 1.501678228378296 seconds
inserted another chunk ...., took 1.421827793121338 seconds
inserted another chunk ...., took 1.8553569316864014 seconds
inserted another chunk ...., took 1.6011924743652344 seconds
inserted another chunk ...., took 1.3781521320343018 seconds
inserted another chunk ...., took 1.5100059509277344 seconds
inserted another chunk ...., took 1.8444437980651855 seconds
inserted another chunk ...., took 1.4678988456726074 seconds
inserted another chunk ...., took 1.8187205791473389 seconds
inserted another chunk ...., took 1.4272422790527344 seconds
inserted another chunk ...., took 1.2902629375457764 seconds
inserted another chunk ...., took 1.27927827835083 seconds
inserted another chunk ...., took 1.4218528270721436 seconds
inserted another chunk ...., took 1.5106968879699707 seconds
inserted another chunk ...., took 1.170682430267334 seconds
inserted another chunk ...., took 1.2999818325042725 seconds
inserted another chunk ...., took 1.4127659797668457 seconds
inserted another chunk ...., took 1.4327492713928223 seconds
inserted another chunk ...., took 1.4579205513000488 seconds
inserted another chunk ...., took 1.5036942958831787 seconds
inserted another chunk ...., took 1.8275532722473145 seconds
inserted another chunk ...., took 1.376584529876709 seconds
inserted another chunk ...., took 1.3109970092773438 seconds
inserted another chunk ...., took 1.3424055576324463 seconds
inserted another chunk ...., took 1.3489165306091309 seconds
inserted another chunk ...., took 2.108224391937256 seconds
inserted another chunk ...., took 1.9546613693237305 seconds

StopIteration: